.main{
    background-color: #0B610B;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    &__video{
        display: flex;
        justify-content: center;

        &--tamanio{
            width: 560px;
            height: 315px;
        }
    }

    &__publicidad{
        display: flex;
        align-items: center;
        margin: 30px;

        &--imagen{
            width: 660px
        }

        &--titulo{
            text-decoration: solid;
            text-align: center;
            color: black;
        }

        &--texto{
            padding: 3rem;
            color: black;
        }
    }
}
